<div class="container">
	<div class="row">
		<div class="col">
			<p>
				<a href="http://murilopolese.com.br/drawing-machines-1" target="_blank">
					<img src="https://i.imgur.com/bBT9mqP.jpg" alt="" />
				</a>
			</p>
			<p>
				<a href="http://murilopolese.com.br/drawing-machines-1" target="_blank">This is a brief story</a>
				of this drawing machine. This website is intended to share drawings and
				excite people about making their own drawing machines although right now
				the only documentation I have about it is this
				<a href="https://github.com/murilopolese/fabulous-machine" target="_blank">GitHub repository</a>
				that I invite you to have a look!
			</p>
			<p>
				By the way, I'm <a href="http://murilopolese.com.br">Murilo</a>. Nice to
				meet you! If want to know more about this drawing machine or want me
				to draw something for you, <a href="mailto:murilopolese@gmail.com">please let me know</a> :)
			</p>
		</div>
	</div>
</div>
