<div class="container">
	<div class="row">
		<div class="col">
			<h1>Something wrong is not right.</h1>
			<p>
				I think I didn't understand what you are searching for or what you are
				searching does not exist. Please apologize myself and give it another
				try with a little bit more love and comprhension. After all, this was
				made by an person that wrote this lines of code and text deeply wishing
				you to have more fun and create some sort of empathy with this machine
				as if it was an extension of his/her humanity and not the oposite.
			</p>
			<p>
				<a href="/">Give it another try</a>
			</p>
		</div>
	</div>
</div>
