<div class="container">
	<div class="row">
		<div class="col">
			<h1>Something wrong is not right.</h1>
			<p>
				I think I didn't understand what you are searching for or what you are
				searching does not exist (yet?). Please apologize myself and give it another
				try with a little bit more love and comprehension. After all, this was
				written by a person that actually wrote this lines of code, one by one,
				deeply wishing you to have fun and create empathy with this machine.
				I want it to be an extension of your humanity and not the oposite.
			</p>
			<p>
				<a href="/">Give it another try</a>
			</p>
		</div>
	</div>
</div>
