<link rel="import" href="../../bower_components/app-router/app-router.html">
<link rel="import" href="../fab-header/fab-header.html">
<link rel="import" href="../../views/view-home/view-home.html">
<link rel="import" href="../../views/view-about/view-about.html">
<link rel="import" href="../../views/view-random/view-random.html">
<link rel="import" href="../../views/view-control/view-control.html">
<link rel="import" href="../../views/view-error/view-error.html">

<dom-module id="fab-main">
    <template>
        <fab-header
            pages="[[pages]]"
            active="[[currentPage]]"
            on-route="onRoute">
            </fab-header>
        <app-router id="router" mode="pushstate" trailingSlash="ignore">
            <app-route path="/" element="view-home"></app-route>
            <app-route path="/about" element="view-about"></app-route>
            <app-route path="/random" element="view-random"></app-route>
            <app-route path="/control" element="view-control"></app-route>
            <app-route path="/:id" element="view-item"></app-route>
            <app-route path="/*" import="/components/view-error/view-error.html"></app-route>
        </app-router>
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'fab-main',
        properties: {
            currentPage: {
                type: String,
                value: 'home'
            },
            pages: {
                type: Array,
                value:  [
                    { key: 'about', label: 'About', link: '/about' },
                    { key: 'random', label: 'Random', link: '/random' },
                    { key: 'control', label: 'Control', link: '/control' }
                ]
            }
        },
        onRoute: function (e) {
            e.preventDefault();
            let page = e.detail;
            this.$.router.go(page.link);
            this.set('currentPage', page.key);
        }
    })
</script>
