<link rel="import" href="../../bower_components/app-router/app-router.html">
<link rel="import" href="../fab-header/fab-header.html">
<link rel="import" href="../../views/view-home/view-home.html">
<link rel="import" href="../../views/view-about/view-about.html">
<link rel="import" href="../../views/view-control/view-control.html">
<link rel="import" href="../../views/view-drawing/view-drawing.html">
<link rel="import" href="../../views/view-error/view-error.html">

<dom-module id="fab-main">
    <template>
        <fab-header
            pages="[[pages]]"
            active="[[currentPage]]"
            on-route="onRoute">
        </fab-header>
        <app-router id="router"
                    trailingSlash="ignore"
                    on-drawing-saved="onDrawingSaved">
            <app-route path="/" element="view-home"></app-route>
            <app-route path="/about" element="view-about"></app-route>
            <app-route path="/random" element="view-drawing"></app-route>
            <app-route path="/control" element="view-control"></app-route>
            <app-route path="/drawing/:id" element="view-drawing"></app-route>
            <app-route path="/*" import="/components/view-error/view-error.html"></app-route>
        </app-router>
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'fab-main',
        properties: {
            currentPage: {
                type: String,
                value: 'home'
            },
            pages: {
                type: Array,
                value:  [
                    { key: 'about', label: 'About', link: '/about' },
                    { key: 'random', label: 'Random', link: '/random' },
                    { key: 'control', label: 'Control', link: '/control' }
                ]
            }
        },
        getRandomDrawing () {
            return fetch('/drawings')
                .then((r) => r.json())
                .then((drawings) => {
                    return drawings ? drawings[parseInt(Math.random() * drawings.length)] : null;
                })
        },
        onRoute (e) {
            this.navigate(e.detail);
        },
        onDrawingSaved (e) {
            e.preventDefault();
            let page = { key: 'drawing', label: 'Drawing', link: `/drawing/${e.detail._id}` };
            this.navigate(page)
        },
        navigate (page) {
            this.set('currentPage', page.key);
            if (page.key === 'random') {
                this.getRandomDrawing()
                    .then((drawing) => {
                        this.$.router.go(`/drawing/${drawing._id}`);
                    });
                return;
            }
            this.$.router.go(page.link);
        }
    })
</script>
