<dom-module id="fab-header">
    <style>
        :host .active {
            font-weight: bold;
        }
    </style>
    <template>
        <h1><a href="#" on-tap="routeHome">Fabulous Machine</a></h1>
        <ul class="menu">
            <template is="dom-repeat" items="[[pages]]" as="page">
                <li><a href="#" class$="[[activeClass(active, page.key)]]" on-tap="route">[[page.label]]</a></li>
            </template>
        </ul>
    </template>
</dom-module>
<script type="text/javascript">
    Polymer({
        is: 'fab-header',
        properties: {
            active: {
                type: String
            },
            pages: {
                type: Array
            }
        },
        activeClass: function (active, key) {
            return (active === key) ? 'active' : '';
        },
        routeHome: function (e) {
            let home = { key: 'home', label: 'Home', link: '/' };
            e.model = e.model || {};
            e.model.page = home;
            this.route(e);
        },
        route: function (e) {
            this.fire('route', e.model.page);
            e.preventDefault();
        }
    })
</script>
