<div class="container mb-4">
	<div class="row">
		<div class="col text-center">
			<h1><a href="/">Fabulous Machine</a></h1>
			<p class="menu">
				<a href="/about">About</a> <a href="/random">Random</a> <a href="/control">Control</a>
			</p>
		</div>
	</div>
</div>
