<dom-module id="view-about">
    <template>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor, dolorem? Doloremque dignissimos distinctio quia deserunt, praesentium, sed voluptate nesciunt tempora vero laborum libero accusantium consequuntur aperiam qui, eos harum?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor, dolorem? Doloremque dignissimos distinctio quia deserunt, praesentium, sed voluptate nesciunt tempora vero laborum libero accusantium consequuntur aperiam qui, eos harum?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor, dolorem? Doloremque dignissimos distinctio quia deserunt, praesentium, sed voluptate nesciunt tempora vero laborum libero accusantium consequuntur aperiam qui, eos harum?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor, dolorem? Doloremque dignissimos distinctio quia deserunt, praesentium, sed voluptate nesciunt tempora vero laborum libero accusantium consequuntur aperiam qui, eos harum?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor, dolorem? Doloremque dignissimos distinctio quia deserunt, praesentium, sed voluptate nesciunt tempora vero laborum libero accusantium consequuntur aperiam qui, eos harum?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor, dolorem? Doloremque dignissimos distinctio quia deserunt, praesentium, sed voluptate nesciunt tempora vero laborum libero accusantium consequuntur aperiam qui, eos harum?</p>
                </div>
            </div>
        </div>
    </template>
</dom-module>
<script type="text/javascript">
    Polymer({
        is: 'view-about'
    })
</script>
