<dom-module id="fab-gallery">
    <template>
        <div class="container">
            <div class="row">
                <template is="dom-repeat" items="[[drawings]]" as="drawing">
                    <div class="col-12 col-md-6">
                        <fab-drawing drawing="[[drawing]]" mode="thumbnail"></fab-drawing>
                    </div>
                </template>
            </div>
        </div>
    </template>
</dom-module>
<script type="text/javascript">
    Polymer({
        is: 'fab-gallery',
        properties: {
            drawings: {
                type: Array
            }
        }
    })
</script>
